@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700");

/*
GUNMETAL: #2C3539;
PUMPKIN: #F87217;
CANTALOUPE: #FFA62F;
SAFFRON: #FBB917;
MILK: #fefcff;
VAMPIRE GRAY: #565051;
*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  margin: 0;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #2C3539; /*#3e3f3a;*/
  background-color: #fefcff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #2C3539;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #565051;
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

h4 {
  color: #F87217;
}
a:hover > h4 { text-decoration: underline;}

h6 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

a.navbar-brand, a.navbar-nav {
  color: #2C3539;
}

p > small > em > a {
  text-decoration: underline;
}

.nav > li > a:hover, .nav > li > a:focus {
  color: #565051;
  background-color: #fefcff;
}

.navbar {
  margin-bottom: 0px;
  background-color: #fefcff;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 1px 5px rgba(0,0,0,.2);
}

.navbar-brand {
  padding-top: 1px;
}

.bannertext {
  /* display: none; */
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-left: 40px;
}

.top-subtitle {
  margin-top: 60px;
  font-family: "Roboto Slab",helvetica;
  font-weight: 700;
  font-size: 140%;
  text-transform: uppercase;
  opacity: .6;
  color: #2C3539;
  line-height: 175%;
  letter-spacing: 3px;
}

.bannertext h1 {
  margin-top: 30px;
  font-weight: 300;
  letter-spacing: 40px;
  font-family: "Roboto Slab",helvetica;
  text-transform: uppercase;
  opacity: .6;
  color: #2C3539;
  font-size: 300%;
}

.banner {
  width: 100%;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 1px 5px rgba(0,0,0,.2);
  background-color: #2C3539;
}

svg.icon {
  stroke: #2C3539; /*#565051;*/
}

svg.icon1 {
  fill: #FBB917;
}
svg.icon2 {
  fill: #FBB917;
}
svg.icon3 {
  fill: #FBB917;
}
svg.icon4 {
  fill: #FBB917;
}

.thumb {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #ccc;
}
svg.icon > text {
  font-size: 148px;
  fill: #2C3539;
  opacity: .8;
}
