---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,300italic);
@import url(https://fonts.googleapis.com/css?family=Biryani);
@import url(https://fonts.googleapis.com/css?family=Bitter);


// Our variables
$font-family-monospace: Source Sans Pro, Monaco, Consolas, "Courier New", monospace !default;
$base-font-family: Biryani, Helvetica, Arial, sans-serif;
$base-font-size:   14px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$font-family-header: Bitter, serif;

$spacing-unit:     30px;

$text-color:       #141111;
$background-color: #fdfdfd;
$brand-color:      #FF6200;
//$blue:             #008A8F;
//$grey:             #001B1C;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

//== Close
//
//##

$close-font-weight:           bold !default;
$close-color:                 #000 !default;
$close-text-shadow:           none !default;


//== Code
//
//##

$code-color:                 #000 /*#c7254e*/ !default;
$code-bg:                     #f9f2f4 !default;

$kbd-color:                   #fff !default;
$kbd-bg:                      #333 !default;

$pre-bg:                      $grey-color-light !default;
$pre-color:                   $grey-color-dark !default;
$pre-border-color:            #ccc !default;
$pre-scrollable-max-height:   340px !default;


// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

// Customizations

