<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <strong>Statistics/Research</strong>
        <ul class="footer-list">
          <li><a href="http://github.com/potterzot/mostlyharmlesspython">mostly harmless python</a></li>
          <li><a href="https://github.com/potterzot/project-template">reproducible research template in R</a></li>
        </ul>

        <strong>Data Graphics</strong>
        <ul class="footer-list">
          <li><a href="projects/pesticide-use-map">Pesticide Use Map</a></li>
          <li><a href="https://potterzot.shinyapps.io/cbccy-app">Climate Change Planting Decision Tool</a></li>
        </ul>

        <strong>Software</strong>
        <ul class="footer-list">
          <li><a href="http://github.com/potterzot/rkclass">rkclass</a></li>
          <li><a href="http://github.com/potterzot/rnassqs">rnassqs</a></li>
          <li><a href="https://github.com/potterzot/cbcct">cbcct</a></li>
          <li><a href="http://github.com/potterzot/bit-trader">bit-trader</a></li>
          <li><a href="http://github.com/potterzot/fcc-net-neutrality-comments">fcc net neutrality comments</a></li>
          <li><a href="http://github.com/potterzot/d3vis">d3vis</a></li>
        </ul>
      </div>
      <div class="footer-col  footer-col-1">
        <strong>Short Stories</strong>
        <ul class="footer-list">
          <li><a href="/stories/stone-people">Stone People</a></li>
          <li><a href="/stories/mopping-the-present">Mopping the Present</a></li>
          <li><a href="/stories/on-the-same-wavelength/">On the same Wavelength</a></li>
          <li><a href="/stories/corralled-and-carving/">Corralled and Carving</a></li>
          <li><a href="/stories/hurricanes/">Hurricanes</a></li>
        </ul>

        <strong>Poetry</strong>
        <ul class="footer-list">
          <li>Nothing yet</li>
        </ul>
      </div>

      <div class="footer-col  footer-col-1">
        <strong>Resources</strong>
        <ul class="footer-list">
          <li><a href="http://incisive.nu/2014/codes-of-conduct/">Codes of Conduct</a></li>
          <li><a href="http://kbroman.org/dataorg/">Organizing Data</a></li>
          <li><a href="http://r-pkgs.had.co.nz/">R Package Development</a></li>
          <li><a href="http://www.amycesal.com/data-visualization-style-guidelines">Example style guide</a></li>
        </ul>
        
      </div>
    </div>

  </div>
  <p style="font-size:10px;color:#675757;">&copy Nicholas Potter, 2015 | <a href='https://keybase.io/potterzot'>id verification</a>.</p>
</footer>
