<p>I'm primarily interested in water markets and water management, particularly in the American West and in international development. I'm also interested in the effect of climate on agriculture and more theoretically, the intersection between machine learning and causal inference.</p>

<p>Recent research output includes:</p>

<ul>
<li><a href="https://potterzot.com/research/climateImpact/climateImpact_AAEA2018.html#/using-climate-analogues-to-obtain-a-causal-estimate-of-the-impact-of-climate-on-agricultural-productivity">Matching as an estimator of the effect of climate on agriculture in the Western United States</a>. Presentation, 2018 Agricultural and Applied Economics Association Annual Meeting - Washington D.C.</li>
</ul>
