{% assign software = (site.software | sort: 'order') %}
{% for pgm in software %}
  <p data-mh="software" style="margin-bottom: 20px; line-height: 2.5rem;">
    <a href="https://github.com/{{ pgm.github }}">{{ pgm.name }}</a>: {{ pgm.description }}<br/>
    {% if pgm.language == "r" %}
      <img src="https://travis-ci.org/potterzot/rnassqs.svg?branch=master">
      {% if pgm.package %}
        <a href="http://cran.rstudio.com/web/packages/{{ pgm.package }}/index.html">
          <img src="http://www.r-pkg.org/badges/version/{{ pgm.package }}">
        </a>
        <a href="http://cran.rstudio.com/web/packages/{{ pgm.package }}/index.html">
          <img src="http://cranlogs.r-pkg.org/badges/grand-total/{{ pgm.package }}">
        </a>
      {% else %}
        <img src="http://www.r-pkg.org/badges/version/{{ pgm.name }}?color=lightgrey">
      {% endif %}
    {% elsif pgm.language == "python" %}
      <!--
      <a href="https://rubygems.org/gems/{{ pgm.name }}">
        <img src="https://img.shields.io/gem/v/{{ pgm.name }}.svg">
      </a>
      <a href="https://rubygems.org/gems/{{ pgm.name }}">
        <img src="https://img.shields.io/gem/dt/{{ pgm.name }}.svg">
      </a>
      -->
    {% elsif pgm.language == "julia" %}
      <!--
      <a href="{{ pgm.omeka }}">
        <img src="https://img.shields.io/badge/omekaplugin-{{ pgm.omeka_version }}-yellowgreen.svg">
      </a>
      -->
    {% endif %}
  </p>
{% endfor %}

<p>You can find more on <a href="http://github.com/potterzot">my github repository</a>.</p>
