<p>I am an Economics PhD candidate at Washington State University and a research assistant at the <a href="http://csanr.cahnrs.wsu.edu">Center for Sustaining Agriculture and Natural Resources</a> and for <a href="">Prof. Michael Brady</a>, ocassional fiction author, and runner.

. I work primarily with , where I use R, python, and SQL to create data visualizations, perform statistical analysis, and process gridded climate data.</p>

<p>I've written several useful pieces of software: <a href="https://github.com/potterzot/rnassqs">rnassqs</a> provides easy access to USDA agricultural data from the NASS QuickStats API, <a href="https://github.com/potterzot/rkclass">rkclass</a> provides instrumental variables regression analysis in R, though there are better packages to use for that, <a href="https://github.com/potterzot/napnotes">napnotes</a> is my personal note repository, but also includes a python script to fetch academic article metadata when provided with a DOI. Other software and projects are listed below, and most of my code is available on <a href="http://www.github.com/potterzot">my github repository</a>. Written work is available <a href="written-work">here</a>.</p>

<p>I've been a Linux user for over 15 years, and currently run <a href="https://www.archlinux.org">Arch Linux</a> on my laptop. I write software with <a href="http://www.vim.org/">vim</a>, <a href="http://www.sublimetext.com/">sublime text</a>, and <a href="https://www.rstudio.com">Rstudio</a>. I tend to use Amazon EC2 instances for quick testing, and also for setting up longer-term projects when necessary.</p>

<p>I'm infrequently active on <a href="http://www.twitter.com/potterzot">twitter</a>, where I mostly follow an assortment of awesome data people.</a>

<p>I also write short stories, some of which are available <a href="/stories">here</a>. </p>
