<h1 id="site-title"><a href="/">{{ site.title }}</a></h1>

<p>
  <small>
    <a href="mailto:potterzot@gmail.com">
      <i class="fa fa-fw fa-envelope-o"></i>
      potterzot@gmail.com
    </a>
  </small>
</p>

<ul class="list-inline">
  <li> 
    <a href="https://github.com/potterzot/">
      <i class="fa fa-lg fa-github"></i>
    </a>
  </li>
  <li> 
    <a href="https://twitter.com/potterzot">
      <i class="fa fa-lg fa-twitter"></i>
    </a>
  </li>
  <li> 
    <a href="{{site.subscribe_rss}}">
      <i class="fa fa-lg fa-rss"></i>
    </a>
  </li>
  <li>
    <a href="https://gitter.im/potterzot/chat">
      <i class="fa fa-lg fa-github-alt"></i>
    </a>
  </li>
</ul>

<p class="text">{{ site.description }}</p>

<ul class="nav nav-list sidebar-nav">
  <li>
    <a href="/files/potter-cv.pdf" onclick="ga('send', 'event', { 'eventCategory': 'PDF', 'eventAction': 'Download', 'eventLabel': 'potter-cv.pdf'});">
      CV <i class="fa fa-fw fa-lg fa-file-pdf-o hidden-sm hidden-xs"></i>
    </a>
  </li>
  <li><a href="/about/">About</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/notes">Notes</a></li>

  {% if page.url == "/index.html" %}
    <li><a data-scroll href="#projects">Projects</a></li>
    <li><a data-scroll href="#software">Software</a></li>
  {% else %}
    <li><a href="/#projects">Projects</a></li>
    <li><a href="/#software">Software</a></li>
  {% endif %}
  <li><a href="/stories">Fiction</a></li>

</ul>

<hr class="hidden-md hidden-lg">
