---
layout: page
title: "Notes on Academic Articles - By Subject"
navigation: true
---

{% assign papers = site.notes | where: "type", "journal-article" %}
{% assign subjects = papers | group_by: "subjects" | sort: "name" %}

{% include group-by-array.html collection=papers field='subjects' %}

<div class="blog-archives">

{% for subject in group_names %}
  {% assign notes = group_items[forloop.index0] %}
  {% if notes[0] %}
    <h3>{{ subject }}</h3>
    <ul>
      {% for note in notes %}
        <li>
          {{ note.citation-authors }} "{{ note.source-title }}". <i>{{ note.container }}</i>{% if note.volume != "" %} {{ note.volume }}{% endif %}{% if note.issue != "" %}, no. {{ note.issue }}{% endif %}{% if note.year != "" %} ({{ note.year }}){% endif %}{% if note.pages != "" %}: {{ note.pages }}{% endif %}. [<a href="{{ note.url }}">Notes</a>, <a href="{{ note.link }}">Paper link</a>] 
        </li>
      {%endfor%}
    </ul>
  {% endif %}
{% endfor %}

<p>Back to <a href="/notes">Notes</a>.</p>
